@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  font-family 'Open Sans', helvetica, arial, sans-serif
  .tree
    width calc(100% - 150px)
    float left
    .line
      width 100%
      height 5px
      float left
      position relative
      .bar
        position absolute
        height 4px
        &.muzi
          right 50%
          background ColorHeadingLink
        &.zeny
          left 50%
          border-left 1px solid white
          background ColorHeading
      &.not-x
        .bar
          opacity 0.2
    .x-line
      position absolute
      left 0px
      height 1px
      width 100%
      border-bottom 1px dotted #c
      border-top 1px dotted #c
      top 5px * 18px - 1
      height 5 * 11px + 1
      background #fc
      .year
        font-weight 800
        position absolute
        right 0px
        padding 0px 5px
        background rgba(255,255,255,0.5)
        &.top
          top -10px
        &.bottom
          bottom -10px
      .popisek
        font-weight 800
        position absolute
        right 5px
        top 17px
        font-size 1.2em
        font-variant small-caps
    &:hover
      .line .bar
        opacity 0.2
      .line:hover
        cursor help
        .bar
          opacity 1
    .sedmdesatky
      position absolute
      top 220px
      font-variant small-caps
      right 0px
      .horiz-line
        position absolute
        width 51px
        border-bottom 1px dotted #a
        top -28px
        left 30px
      .vert-line
        position absolute
        height 23px
        border-right 1px dotted #a
        top -28px
        left 81px





